In [18]:
import pandas as pd
import numpy as np
import mysql.connector

# Connect to the MySQL database
conn = mysql.connector.connect(
  host="tylerathomas0.lmu.build",
  user="tylerath_opps",
  password="NvX5EAfvtr4KRBx",
  database="tylerath_opportunities"
)

# Read the 10 random records from the CSV file
df = pd.read_csv('NewOpps.csv')

# NumPy library replaces 'NaN' values with 'None' values to fill in DB with Null
df = df.fillna(np.nan).replace([np.nan], [None])

In [20]:
# Create a new table with the same structure as the CSV file
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE opportunity (
  id INT NOT NULL AUTO_INCREMENT,
  air_id INT,
  ref_id VARCHAR(255),
  ref_url VARCHAR(255),
  organization_id INT,
  source_id INT,
  name VARCHAR(255),
  description TEXT,
  type VARCHAR(255),
  sector_type VARCHAR(255),
  address1 VARCHAR(255),
  city VARCHAR(255),
  county VARCHAR(255),
  state VARCHAR(255),
  postal_code VARCHAR(255),
  lat FLOAT,
  `long` FLOAT,
  geolocation VARCHAR(255),
  image_url VARCHAR(255),
  is_pre_bid BOOLEAN,
  pre_bid_date DATE,
  status VARCHAR(255),
  place_of_performance VARCHAR(255),
  contact_name VARCHAR(255),
  contact_phone VARCHAR(255),
  contact_email VARCHAR(255),
  contact_name2 VARCHAR(255),
  contact_phone2 VARCHAR(255),
  contact_email2 VARCHAR(255),
  posted_date DATE,
  begin_date DATE,
  end_date DATE,
  created DATETIME,
  modified DATETIME,
  deleted BOOLEAN,
  notes TEXT,
  ref_name VARCHAR(255),
  secondary_url VARCHAR(255),
  touched_date DATE,
  touched BOOLEAN,
  created_by VARCHAR(255),
  modified_by VARCHAR(255),
  touched_by VARCHAR(255),
  is_continuous BOOLEAN,
  address2 VARCHAR(255),
  ref_url2 VARCHAR(255),
  dollar_actual FLOAT,
  dollar_estimate_min FLOAT,
  dollar_estimate_max FLOAT,
  dollar_estimate_avg FLOAT,
  PRIMARY KEY (id)
);
""")

In [21]:
# Import the data from the CSV file into the new table
for _, row in df.iterrows():
    cursor.execute("""
INSERT INTO opportunity (
  id, air_id, ref_id, ref_url, organization_id, source_id, name, description, type,
  sector_type, address1, city, county, state, postal_code, lat, `long`, geolocation, image_url, is_pre_bid,
  pre_bid_date, status, place_of_performance, contact_name, contact_phone, contact_email, contact_name2,
  contact_phone2, contact_email2, posted_date, begin_date, end_date, created, modified, deleted, notes,
  ref_name, secondary_url, touched_date, touched, created_by, modified_by, touched_by, is_continuous, address2,
  ref_url2, dollar_actual, dollar_estimate_min, dollar_estimate_max, dollar_estimate_avg
) 
VALUES (
  %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
  %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
  %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
  %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
  %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
)
    """, tuple(row.values))

In [22]:
# Create a new table for GPT generated descriptions
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE gpt_description (
  DescriptionID INT AUTO_INCREMENT PRIMARY KEY,
  Description VARCHAR(255),
  TokensUsed INT,
  id INT,
  CreatedOn DATETIME,
  UpdatedOn DATETIME,
  FOREIGN KEY (id) REFERENCES opportunity(id)
);
""")

In [23]:
# Create a new table for GPT generated keywords
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE gpt_keyword (
  KeywordID INT AUTO_INCREMENT PRIMARY KEY,
  Keyword VARCHAR(255) NOT NULL,
  TokensUsed INT,
  id INT,
  CreatedOn DATETIME,
  UpdatedOn DATETIME,
  FOREIGN KEY (id) REFERENCES opportunity(id)
);
""")